.MMM-MyWastePickup .pickup-container {
  line-height: 1.75;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #222;
  position: relative;
  text-align: left;
  width: 240px;
}

.MMM-MyWastePickup .legend-container {
  font-size: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: right;
  width: 120px;
  float: left;
  height: 30px;
}

.MMM-MyWastePickup .pickup-date {
  color: #FFF;
}

.MMM-MyWastePickup .pickup-wrapper {
}

.MMM-MyWastePickup .legend-wrapper {
  opacity: 0.6;
}

.MMM-MyWastePickup .waste-pickup-icon-container {
  white-space: nowrap;
  position: absolute;
  right: 0px;
  top: 6px;
  line-height: 24px;
}

.MMM-MyWastePickup .waste-pickup-icon-legend-container {
  white-space: nowrap;
  position: relative;
  float: right;
  right: 0px;
  top: 10px;
  line-height: 24px;
}

.MMM-MyWastePickup .waste-pickup-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  vertical-align: bottom;
  display: inline;
  position: relative;
  margin-left:4px;
}

.MMM-MyWastePickup .waste-pickup-icon.recycle {
  fill: #3499D4;
}
.MMM-MyWastePickup .waste-pickup-icon.compost {
  fill: #00A651;
}
.MMM-MyWastePickup .waste-pickup-icon.garbage {
  fill: #787878;
}
.MMM-MyWastePickup .waste-pickup-icon.yard_waste {
  fill: #C2A36E;
}
.MMM-MyWastePickup .waste-pickup-icon.christmas_tree {
  fill: #008D45;
}

.cls-1 {
  fill: #ffffff;
}

.cls-2 {
  fill: #76b82a;
}

.cls-1 {
  fill: #f6e8da;
}
